
$colors: (
    background: rgb(39, 39, 39),
    pointers: aqua,
    glow: aqua,
    text: white,
    center: rgb(0, 164, 230),
);

@function color($askWitch){
   @return map-get($colors, $askWitch)
}

body {
    background-color: color(background);
    margin: 0;

    div {
        width: 100%;
        height: 100%;

        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 301px;
            height: 301px;
            padding: 0px;
            border-radius: 50%;
            list-style: none;
            box-shadow: 0 0 20px 5px color(glow);

            li {
                position: absolute;
                font-size: 25px;
                transform-origin: left;
                color: color(text);
            }
            li:nth-child(1) {
                width: 155px;
                height: 15px;
                top: 147px;
                left: 148px;
                text-align: center;
                writing-mode: vertical-rl;
                transform: rotate(-60deg);
            }
            li:nth-child(2) {
                width: 155px;
                height: 15px;
                top: 145px;
                left: 145px;
                transform-origin: left;
                text-align: center;
                writing-mode: vertical-rl;
                transform: rotate(-30deg);
            }
            li:nth-child(3) {
                width: 155px;
                height: 15px;
                top: 140px;
                left: 145px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
            }
            li:nth-child(4) {
                width: 155px;
                height: 15px;
                top: 140px;
                left: 146px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(30deg);
            }
            li:nth-child(5) {
                width: 155px;
                height: 15px;
                top: 138px;
                left: 148px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(60deg);
            }
            li:nth-child(6) {
                width: 155px;
                height: 15px;
                top: 138px;
                left: 152px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(90deg);
            }
            li:nth-child(7) {
                width: 155px;
                height: 15px;
                top: 137px;
                left: 151px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(120deg);
            }
            li:nth-child(8) {
                width: 155px;
                height: 15px;
                top: 139px;
                left: 154px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(150deg);
            }
            li:nth-child(9) {
                width: 155px;
                height: 15px;
                top: 142px;
                left: 154px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }
            li:nth-child(10) {
                width: 155px;
                height: 26px;
                top: 140px;
                left: 154px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(210deg);
            }
            li:nth-child(11) {
                width: 155px;
                height: 26px;
                top: 142px;
                left: 152px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(240deg);
            }
            li:nth-child(12) {
                width: 155px;
                height: 26px;
                top: 142px;
                left: 150px;
                transform-origin: left;
                text-align: right;
                writing-mode: vertical-rl;
                transform: rotate(270deg);
            }
            li:nth-child(13) {
                width: 0px;
                height: 0px;
                top: 145px;
                left: 150px;
                transform-origin: left;
                transform: rotate(-90deg);
                border-top: 5px solid transparent;
                border-left: 120px solid color(pointers);
                border-bottom: 5px solid transparent;
            }
            li:nth-child(14) {
                width: 0;
                height: 0;
                top: 146px;
                left: 150px;
                transform-origin: left;
                transform: rotate(-90deg);
                border-top: 5px solid transparent;
                border-left: 150px solid color(pointers);
                border-bottom: 5px solid transparent;
            }
            li:nth-child(15) {
                width: 0px;
                height: 0px;
                top: 147px;
                left: 113.5px;
                transform-origin: 20%;
                transform: rotate(-90deg);
                border-top: 3px solid transparent;
                border-left: 185px solid color(pointers);
                border-bottom: 3px solid transparent;
            }
            li:nth-child(16) {
                width: 18px;
                height: 18px;
                top: 141px;
                left: 141px;
                border-radius: 50%;
                background-color: black;
                box-shadow: inset 0 0 0px 4px color(center);
            }
        }
    }
}